.banner-container {
    overflow: hidden;
    width: 100%;
}

.banner {
    display: flex;
    animation: slideBanner 10s linear infinite;
}

.banner img {
    max-width: 100%;
}

@keyframes slideBanner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}